
   body  {
    margin: 0px;
  align-items: center;
  scroll-behavior: smooth; 


  }
  
  .card .imgBx .content{
    align-items: center;
    align-content: center;
  }
   header, footer{
        background-color: rgb(26, 0, 110);
        color: aliceblue;
        text-align: center;
        font-family:'Times New Roman', Times, serif;
    }
  

    header {
      padding: 20px;

    }
    
    footer {
      padding: 20px;
    }

    nav {
      background-color: chocolate;
      display: flex;
      color: blue;
      text-align: center;
      font-size: 20px;
  
    }
    nav ul {
      display: flex;
      text-justify: inherit;
  list-style: none;
  
    }
    nav ul li a {
      text-decoration: none;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: chocolate;
    text-shadow: 5px;
    padding: 10px;
    color: rgb(15, 0, 151);
    }
    nav ul li a:hover {
      background-color: rgb(176, 73, 0);
      color: aliceblue;
      padding: 20px;
      overflow: hidden;
      text-align: justify;
      justify-content: space-evenly;
      scroll-behavior: smooth;
    
      }

  header{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.card {
  position: relative;
  width: 300px;
  height: 200px;
  border-radius: 10px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
  transition: 0.3s;
  padding: 30px 20px;
  background-color: #81beff;
  cursor: pointer;
  border: #000000;
  
}

.card:hover{
  height: 350px;
}
.imgBx {
  position: relative;
  width: 100%;
  height: 100%;
 z-index: 99;

}
img {
  width: 100%;
  border-radius: 8px;
  transform: translateY(-80px);
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5); 
  border-color: chartreuse;
}

.content {
  padding: 10px 20px;
  text-align: center;
  transform: translateY(-300px);
  opacity: 0;
  transition: 0.3s;
}
.card:hover > .content{
  transform: translateY(-210px);
  opacity: 100%;
}
.content h2{
  color: rgb(71, 0, 138);
}
